* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
color: white;
font-size: 14px;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

/* Commons */

.button {
    background-color: #2B3A3F;
    padding: 5px;
    border: 0;
    margin: 0 2px;
    cursor: pointer;
}

.bd-radius {
    border-radius: 5px;
}

.action {
    cursor: pointer;
}
/* Header */

header {
    text-align: right;
    padding: 10px;
}

/* Main Section */

main{
    background: black;
    flex-grow: 1;
    overflow: auto;
}

ul.users li div {
    display: none;
}

main:hover ul.users li div {
    display: block;
}

main ul.users {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

ul.users li {
    position: relative;
    height: 200px;
    width: 300px;
    margin: 5px;
}

ul.users li div {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 3px;
}

ul.users li img {
    object-fit:cover;
    max-width: 100%;
}

ul.users .micro {
    font-size: 18px;
}

/* Footer Section */

footer {
background: #0E0E0E;
color: #E0E0E0;
display: flex;
justify-content: space-between;
}

footer .action {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
    margin: 5px;
}

footer li {
    list-style: none;
}

.arrow {
    margin-left: 3px;
}

.action.partecipant {
    position: relative;
}

#partecipant {
    position: absolute;
    top: 0;
    right: 25%;
    font-size: 12px;
}

.footer-left,
.footer-center {
    display: flex;
    align-items: center;
}

.footer-icon {
    font-size: 24px;
}

.footer-right.button {
    color: #FF5555;
    margin: 0;
    padding: 10px;
}

.green {
    color: #0E0E;
}

li.action {
padding: 0 10px;
}

li i.action{
    margin-left: -12px;
}